[Unit]
Description=Wind forecast API
After=network-online.target

[Service]
WorkingDirectory=/home/pi/windforecast-api
ExecStart=/home/pi/dotnet/dotnet /home/pi/windforecast-api/wind-forecast-api.dll
Restart=always
RestartSec=30
SyslogIdentifier=windforecast-api
User=pi
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000

[Install]
WantedBy=multi-user.target